<%= form_for @url, url: {controller: "urls", action: "create"} do |f| %>
  <p>
    <%= f.label "Type your URL here:" %><br>
    <%= f.text_field :long_url %>
  </p>

  <p>
    <%= f.submit "Shorten URL!" %>
  </p>
<% end %>