// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left {
	background-color: #E6E6FA;
	height: 550px;
}

.right {
	background-color: #E9967A;
	height: 550px;
}

